/*左右兩側列表*/
.sidebar{
    background-color: rgb(63, 58, 55);
    color: white;
    display: flex;
    border-radius: 0px;
    flex-direction: column;
    height: 25vh;
    
    .left{
        width: 20%;
    }
    .right{
        width: 80%;
    }
    .title{
        width: 100%;
        color: white;
    }
    .subtitle{
        color: black;
    }
    .name{
        color: $color-grey-1;
        width: 19%;
        text-align: center;
    }
    .value{
        background-color: $color-orange;
        width: 79%;
        border: 2px solid $color-grey-3;
    }
    form{
        width: 100%;
    }
    input{
        background-color: $color-grey-2;
        color: black;
        margin: 2px;
    }
    .search-button{
        width: 100%;
        height: 100%;
    }
}

.status{
    height: 20vh;
}

.info{ 
    height: 35vh;
}

.sort{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0%;
    height: 5vh;
}

ul{
    /*ul height為顯示長度*/
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0%;
    height: 14vh;
    list-style-type: none;
    
    li{
        margin: 2px;
        background-color: $color-orange;
        color: $color-grey-3;
        button{
            font-size: small;
            width: 100%;
            height: 100%;
            background-color: $color-orange;
            color: $color-grey-3;
        }
    }
    .event-name,.IP{
        width: 90%;
    }
    .count{
        width: 10%;
    }

    .sever-10{
        background-color: $color-event-10;
        color: white;
    }
    .sever-9{
        background-color: $color-event-9;
        color: white;
    }
    .sever-8{
        background-color: $color-event-8;
        color: white;
    }
    .sever-7{
        background-color: $color-event-7;
    }
    .sever-6{
        background-color: $color-event-6;
    }
    .sever-5{
        background-color: $color-event-5;
    }
    .sever-4{
        background-color: $color-event-4;
    }
    .sever-3{
        background-color: $color-event-3;
    }
    .sever-2{
        background-color: $color-event-2;
    }
    .sever-1{
        background-color: $color-event-1;
    }

    .high, .HIGH{
        background-color: $color-event-high;
        color: white;
    }
    .mid, .MID, .MEDIUM{
        background-color: $color-event-mid;
    }
    .low, .LOW{
        background-color: $color-event-low;
    }

}


/* 寬度768以上 */
@media (min-width: 768px){
    .sidebar{
        height: 91vh;
        border-radius: 12px;
        .left{
            width: auto;
        }
        .right{
            width: auto;
        }
        .title{
            margin-left: 5%;
            border-bottom: white solid 1px;
            width: 100%;
            color: white;
            background-color: transparent;
        }
        .subtitle{
            color: $color-grey-1;
        }
        .search-name{
            color: $color-grey-1;
            margin-left: 0%;
            width: 100%;
            text-align: left;
            padding: 0%;
        }
        .name{
            color: $color-grey-1;
            margin-left: 0%;
            width: 100%;
            text-align: left;
            padding-left: 5%;
        }
        .value{
            background-color: $color-orange;
            width: 80%;
            margin-left: 5%;
        }
        .search-button{
            margin-top: 10%;
            width: 100%;
            height: auto;
        }
        .timevalue{
            background-color: $color-orange;
            width: 80%;
            margin: 0%;
            padding: 0%;
        }
    }
    .status{
        height: 40%;
    }
    .info{
        height: 60%;
    }
}