//顏色宣告
$color-orange: rgb(227, 164, 129);
$color-blue: rgb(165, 181, 196);
$color-grey-1: rgb(220, 220, 220);
$color-grey-2: rgb(160, 160, 160);
$color-grey-3: rgb(63, 58, 55);
$color-navbar: #1c2d3f;
$color-topbar: #6c757d;

//事件顏色
$color-event-high: rgb(255, 47, 47);
$color-event-10: #e20000;
$color-event-9: #ff1616;
$color-event-8: #ff4949;
$color-event-mid: rgb(255, 241, 41);
$color-event-7: rgb(255, 241, 41);
$color-event-6: #FFF545;
$color-event-5: #FFF676;
$color-event-4: #FFF9A7;
$color-event-low: rgb(180, 180, 180);
$color-event-3: rgb(180, 180, 180);
$color-event-2: #CFCFCF;
$color-event-1: #ECECEC;